

body {
    background-color: black;
    color: white;
    }

.padding {padding-top: 75px;}


ul {list-style: none;}

li {font-family: 'Special Elite', cursive;
    }

h1,h2,h3,h4,h5,h6 {font-family: 'Special Elite', cursive;
                  }
p {font-family: 'Titillium Web', sans-serif;}

a {
  color: white;
}

a:hover {
  color: red;

}

a:focus {
  color: red;
}
 a.active {
   color: #cc0000;
font-size: 1.3em;
 }
.logo {
  float:right;
  margin-bottom: 30px;
}
.separate {
    border-bottom: solid #cc0000 3px;
    }
.orbit-bullets button {
    background-color: #cacaca;
}

.orbit-bullets button.is-active {
    background-color: #cc0000;
}

.orbit-previous, .orbit-next{background-color: rgba(20, 20, 20, 0.2);}

.orbit-previous:hover, .orbit-next:hover, .orbit-previous:active, .orbit-next:active, .orbit-previous:focus, .orbit-next:focus {background-color: rgba(1, 1, 1, 0.5);}

#todaysevent {margin-top: 20px;
              font-family: 'Special Elite', cursive;
              font-size: 1.5em;
              }

.upevent {margin-top: 20px;
          }
.smaller {font-size: 1.5em}

#randtest1, #randtest2 {
                        padding: 20px;
                        margin-top: 20px;
                        margin-bottom: 50px;
                        }
.map {float:right;
      margin-top: 10px;
      margin-bottom: 20px;
      }

.bottom {margin-bottom: 30px;
        padding-bottom: 20px;
        border-bottom: 1px solid #cc0000;
        }
.topspace {margin-top: 30px;}
